In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# Database connection
engine = create_engine('mysql+pymysql://root:Select*From@localhost/BANKING')

In [26]:
# Read CSV file
df = pd.read_csv('/Users/sherinsmac/PersonalWeb/Data/Cheq(May23_June24).csv')

In [28]:
# Drop the 'Unnamed: 0' column if it exists
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [30]:
df.head()

         Date         vendors  Debit  Credit   account
0  2024-06-28  Service Charge  16.95     0.0  chequing
1  2024-06-28         WALMART  22.24     0.0  chequing
2  2024-06-28         WALMART  16.83     0.0  chequing
3  2024-06-28         WALMART   3.30     0.0  chequing
4  2024-06-28         WALMART   4.34     0.0  chequing

In [31]:
df.rename(columns={
    'Date': 'DATE',
    'vendors': 'VENDORS',
    'Debit': 'DEBIT',
    'Credit': 'CREDIT',
    'account': 'ACCOUNT'
}, inplace=True)

/var/folders/nw/1_9s16wj53n4dmd19z8m0k7c0000gn/T/ipykernel_69139/210565212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

In [32]:
# Insert data into the database
df.to_sql('CheqMay23_June24', con=engine, index=False, if_exists='append')

675