In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
engine = create_engine('mysql+pymysql://root:Select*From@localhost/BANKING')

In [64]:
query ="""
SELECT Date, vendors, Debit, Credit, account FROM CheqMay23_June24 
WHERE vendors = 'Walmart' AND Date BETWEEN '2024-05-31' AND '2024-06-30'
UNION ALL
SELECT 'Total' AS Date, '' AS vendors, SUM(Debit) AS Debit, '' AS credit, '' AS account 
FROM CheqMay23_June24 
WHERE vendors = 'Walmart' AND Date BETWEEN '2024-05-31' AND '2024-06-30'
"""

In [65]:
df = pd.read_sql(query, engine)
print(df)

          Date  vendors   Debit Credit   account
0   2024-06-28  WALMART   22.24   0.00  chequing
1   2024-06-28  WALMART   16.83   0.00  chequing
2   2024-06-28  WALMART    3.30   0.00  chequing
3   2024-06-28  WALMART    4.34   0.00  chequing
4   2024-06-27  WALMART    6.81   0.00  chequing
5   2024-06-26  WALMART    7.37   0.00  chequing
6   2024-06-26  WALMART    5.90   0.00  chequing
7   2024-06-26  WALMART    9.94   0.00  chequing
8   2024-06-25  WALMART    1.65   0.00  chequing
9   2024-06-24  WALMART    2.36   0.00  chequing
10  2024-06-24  WALMART    4.65   0.00  chequing
11  2024-06-24  WALMART   11.69   0.00  chequing
12  2024-06-21  WALMART   10.63   0.00  chequing
13  2024-06-17  WALMART   20.35   0.00  chequing
14  2024-06-17  WALMART   14.88   0.00  chequing
15  2024-06-12  WALMART    3.57   0.00  chequing
16  2024-06-10  WALMART    6.15   0.00  chequing
17  2024-06-10  WALMART    2.90   0.00  chequing
18  2024-06-03  WALMART   16.45   0.00  chequing
19  2024-06-03  WALMART    5.69   0.00  chequing
20  2024-06-03  WALMART    4.03   0.00  chequing
21  2024-06-03  WALMART    7.02   0.00  chequing
22       Total           188.75

In [36]:
# Calculate the total debit
total_debit = df['Debit'].sum()
print(total_debit)

188.75